<div class="page__content">
    <ons-list>
        <div class="scrollable">
            <ons-list-item class="firstMenuItem" ng-click="index.SetPage('home')">
                Home
            </ons-list-item>

            <ons-list-item ng-click="index.SetPage('music')">
                Music
            </ons-list-item>

            <ons-list-item ng-click="index.SetPage('artists')">
                Artists
            </ons-list-item>
            
            <ons-list-item ng-click="index.SetPage('settings')">
                Settings
            </ons-list-item>

            <ons-list-item ng-click="index.Logout()">
                Logout
            </ons-list-item>
        </div>
    </ons-list>
</div>